.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 12px; /* scrollbar width */
  height: 8px; /* horizontal scrollbar height */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* track color (light gray) */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #4f46e5; /* primary-600 color */
  border-radius: 10px;
  border: 2px solid #f1f1f1; /* optional: adds space around thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4338ca; /* darker shade on hover (optional) */
}

/* Disable text selection */
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Disable image drag */
img {
  pointer-events: none;
  -webkit-user-drag: none;
}
